nav {
    line-height: 30px;
    background-color: orangered;
    font-variant: small-caps;
    color: white;
    text-align: center;
}

.clearfix:after {
    display: block;
    clear: both;
}

.wrapper {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: red;
}

.menu {
    width: 1200px;
    margin: 0px auto;
    background: rgb(246, 19, 19);
    height: 50px;
    margin-top: 150px;
}

.menu li {
    margin: 0px;
    list-style: none;
}

.menu a {
    transition: all linear 0.15s;
    color: rgb(249, 249, 249);
    text-decoration: none;
}

.menu li:hover>a,
.menu .current-item>a {
    text-decoration: none;
    color: #e6f67e;
}

.menu .arrow {
    font-size: 11px;
    line-height: 0%;
}

.menu>ul>li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 19px;
}

.menu>ul>li>a {
    padding: 10px 40px;
    display: inline-block;
    color: white;
}

.menu li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.sub-menu {
    padding: 5px 0px;
    top: 100%;
    left: -50px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.2s;
    background-color: #968d8dfb;
}

.sub-menu li {
    display: block;
    font-size: 20px;
}

.sub-menu li a {
    padding: 10px 30px;
    display: block;
}