.wrappre {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-color: antiquewhite;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 20px;
    align-items: center;
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: start;

    font-weight: 700;
}

.header-left h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}

.header-left span {
    color: rgb(100, 97, 97);
    font-weight: 600;
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;

    display: inline-block;
    margin-right: 100px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #dddddd;
}

.container {
    display: flex;
    justify-content: space-between;
}

.avata {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ten {
    display: flex;
    flex-direction: column;
}