p{
    text-align: center;
}
p>img{
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 5px 5px  green;
}
p>img:hover{
    box-shadow: inset 20px red;
    background-color: aqua;
}