.menu1 {
    width: 100%;
    height: 50px;
    background-color: rgb(74, 74, 233);
    text-align: center;
    color: white;
}

.menu2 {
    width: 100%;
    height: 50px;
    background-color: rgb(74, 74, 233);
    text-align: center;
    color: white;
}

nav a {
    color: white;
    line-height: 40px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: rgb(48, 44, 47);
    text-decoration: underline;
}

.chu-chay {
    background-color: aqua;
}

.chu {
    background-color: aqua;
}


article {
    width: 40%;
    height: 500px;
    background-color: white;
    float: left;
}

aside {
    width: 60%;
    height: 500px;
    background-color: rgb(193, 225, 247);
    float: left;
}

footer {
    border-top: 5px double rgb(26, 61, 219);
    clear: both;
    width: 100%;
    height: 100px;
    line-height: 50px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    font-size: 20px;
}

body {
    padding: 0px;
    margin: 0px;
}

.tt1>img {
    float: left;
}

.tt1>a :hover {
    color: rgb(48, 44, 47);
    text-decoration: underline;
}

.tt2>img {
    float: left;
}

.tt3>img {
    float: left;
}